/* AvatarPlaceholder.css */
.avatar-placeholder {
    width: 28px; /* Adjust size as needed */
    height: 28px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular */
    background-color: #808080; /* Background color */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

  }
  
  .avatar-icon {
    width: 21px; /* Icon size */
    height: 23px; /* Icon size */
  }
  